* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  height: 100%;
  font-size: 100%;
  line-height: 1.3;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  font-family: Arial, Tahoma, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: white;
}

article,
aside,
footer,
header,
nav,
section {
  display: block;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

p {
  margin: 0;
}

a {
  text-decoration: none;
  -webkit-text-decoration-skip: objects;
  background-color: transparent;
}

ul, ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

button,
input,
optgroup,
select,
textarea {
  margin: 0;
  font-family: Arial, Tahoma, sans-serif;
  font-size: 100%;
  line-height: inherit;
}

input[type="button"],
input[type="submit"],
button {
  background-color: white;
  cursor: pointer;
}

b,
strong {
  font-weight: inherit;
}

figcaption,
figure,
main {
  display: block;
}

figure {
  margin: 0;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  overflow: visible;
  height: 0;
}

pre {
  font-family: monospace, monospace;
  font-size: 1rem;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1rem;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25rem;
}

sup {
  top: -0.5rem;
}

audio,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: rem-calc(1) dotted ButtonText;
}

fieldset {
  padding: 0;
}

legend {
  display: table;
  padding: 0;
  max-width: 100%;
  color: inherit;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
  resize: none;
}

[type="checkbox"],
[type="radio"] {
  padding: 0;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  -webkit-appearance: textfield;
  outline: none;
}

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

details,
menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

body {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  height: 100%;
  -webkit-text-size-adjust: none;
     -moz-text-size-adjust: none;
      -ms-text-size-adjust: none;
          text-size-adjust: none;
  -webkit-font-smoothing: antialiased;
  font-family: Futura, sans-serif;
  font-size: 16px;
  color: #212121;
}

main {
  -webkit-box-flex: 1;
  -webkit-flex: 1 0 auto;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  width: 100%;
  background: white;
}

.container {
  margin: 0 auto;
  padding: 0 14px;
  width: 100%;
  max-width: 1200px;
}

.header {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  font-family: Futura, sans-serif;
  background: #282828;
}

.header-bg {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
}

.header > .container {
  height: 100%;
}

.header-inner {
  position: relative;
  z-index: 1;
  color: white;
}

.header-top {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 30px 0;
  width: 100%;
}

.header-logo {
  opacity: 0.9;
  font-size: 18px;
  text-transform: uppercase;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.header-logo > a {
  color: currentColor;
}

.header-logo__text > span:first-child {
  border: 0.12em solid currentColor;
  border-radius: 0.05em;
  padding: 0.2em;
}

.header-logo__text > span:last-child {
  font-family: 'Julius Sans One', sans-serif;
  margin-left: 0.15em;
  font-weight: 400;
}

.header-nav__list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.header-nav__item + .header-nav__item {
  margin-left: 2em;
}

.header-nav__item > a {
  color: currentColor;
}

.header-nav__btn {
  position: relative;
  border: none;
  width: 58px;
  height: 38px;
  background: transparent;
  cursor: pointer;
}

.header-nav__btn::after {
  position: absolute;
  content: '';
  top: -2px;
  left: 3px;
  display: block;
  border: 2px solid rgba(200, 200, 200, 0.4);
  border-radius: 50%;
  width: 35px;
  height: 35px;
  pointer-events: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-animation-name: hamburger;
          animation-name: hamburger;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.header-nav__btn:focus {
  outline: none;
}

.header-nav__btn:focus::after {
  background: #c8c8c8;
}

.header-nav__btn:hover::after {
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  border-color: rgba(200, 200, 200, 0.8);
}

.header-nav__svg.open .top__bar {
  stroke-dashoffset: -650px;
}

.header-nav__svg.open .middle__bar {
  stroke-dasharray: 0px 320px;
  stroke-dashoffset: -120px;
}

.header-nav__svg.open .bottom__bar {
  stroke-dashoffset: -650px;
}

.header-nav__svg path {
  stroke-width: 20;
  stroke-linecap: round;
  stroke: white;
  fill: none;
  -webkit-transition: all .5s ease-in-out;
  -o-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

.header-nav__svg .top__bar {
  stroke-dasharray: 240px 910px;
}

.header-nav__svg .middle_bar {
  stroke-dasharray: 240px 240px;
}

.header-nav__svg .bottom__bar {
  stroke-dasharray: 240px 910px;
}

.header-content {
  margin-top: 20%;
  font-family: 'Julius Sans One', sans-serif;
  font-size: 16px;
  font-weight: 400;
  text-align: center;
}

.header-content__title {
  font-size: 4em;
  font-weight: inherit;
}

.header-content__title > span {
  font-weight: 700;
  color: rgba(14, 188, 243, 0.9);
}

.header-content__text {
  margin-top: 1em;
  font-size: 1.5em;
  font-weight: inherit;
}

@-webkit-keyframes hamburger {
  0% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  80% {
    -webkit-transform: scale(1.6);
            transform: scale(1.6);
  }
  100% {
    opacity: 0;
    -webkit-transform: scale(1.6);
            transform: scale(1.6);
  }
}

@keyframes hamburger {
  0% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  80% {
    -webkit-transform: scale(1.6);
            transform: scale(1.6);
  }
  100% {
    opacity: 0;
    -webkit-transform: scale(1.6);
            transform: scale(1.6);
  }
}

.footer {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

@media only screen and (max-width: 1440px) {
  /**/
}

@media only screen and (max-width: 1200px) {
  /**/
}

@media only screen and (max-width: 1024px) {
  /**/
}

@media only screen and (max-width: 992px) {
  /**/
}

@media only screen and (max-width: 768px) {
  /**/
}

@media only screen and (max-width: 640px) {
  /**/
}

@media only screen and (max-width: 580px) {
  /**/
}

@media only screen and (max-width: 480px) {
  /**/
}

@media only screen and (max-width: 320px) {
  /**/
}

/*# sourceMappingURL=main.css.map */
