header.header
    canvas.header-bg#header-canvas
    div.container
        div.header-inner
            h1 
                span LT
                span group
    //- div#text
    //-     h1 Everything Connects
