header.header
  canvas.header-bg#header-canvas
  div.container
    div.header-inner
      div.header-logo
        a( href="#" )
          h1.header-logo__text
            span LT
            span group
      nav.header-nav
        ul.header-nav__list
          li.header-nav__item
            a( href="#" ) контакти
          li.header-nav__item
            a( href="#" ) сотрудники
          li.header-nav__item
            a( href="#" ) портфолио
          li.header-nav__item
            a( href="#" ) оставить заявку
